<html>
    <head>
    <link rel="stylesheet" href = "styles.css"/>
    <link rel = "stylesheet" href = "./css/bootstrap.min.css"/>
    <h1> Parcel Management System! </h1>
        <a href = "/">Home</a> 
        <a href = "/addparcel">Add New Parcel </a>
        <a href = "/getparcels"> List Parcels </a>
        <a href = "/getparcelssender"> List Parcels Sender</a>
        <a href = "/getparcelsweight"> List Parcels Weight</a>
        <a href = "/delparcel"> Delete Parcels </a>
        <a href = "/updateparcel"> Update Parcels </a>
        
        <hr/>
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
</head>

<body>
    
</body>

</html>