<html>

<head>
    <div class = "jumbotron text-center">
        <link rel="stylesheet" href = "styles.css"/>
        <link rel = "stylesheet" href = "./css/bootstrap.min.css"/>
        <h1> Parcel Management System! </h1>
        <br>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/">Home</a> 
            <a type = "button" class = "btn btn-primary btn-lg" href = "/addparcel">Add New Parcel </a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcels"> List Parcels </a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcelssender"> List Parcels Sender</a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcelsweight"> List Parcels Weight</a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/delparcel"> Delete Parcels </a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/updateparcel"> Update Parcels </a>
            
            <hr/>
        <style>
            table,th,td {
                border: 1px solid black;
            }
        </style>
        </div>
</head>

<body>
    
</body>

</html>