<html>

<head>
    <div class = "jumbotron text-center">
        <link rel="stylesheet" href = "styles.css"/>
        <link rel = "stylesheet" href = "./css/bootstrap.min.css"/>
        <h1> Parcel Management System! </h1>
        <br>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/">Home</a> 
            <a type = "button" class = "btn btn-primary btn-lg" href = "/addparcel">Add New Parcel </a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcels"> List Parcels </a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcelssender"> List Parcels Sender</a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcelsweight"> List Parcels Weight</a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/delparcel"> Delete Parcels </a>
            <a type = "button" class = "btn btn-primary btn-lg" href = "/updateparcel"> Update Parcels </a>
            
            <hr/>
        <style>
            table,th,td {
                border: 1px solid black;
            }
        </style>
        </div>
</head>

<body>
   
    </br>
    <h3>The list of parcels are:</h3>
        <table class = 'table table-hover table-dark'>
            <tr>
                <td>#</td>
                <td>ID</td>
                <td>Sender</td>
                <td>Address</td>
                <td>Weight</td>
                <td>Fragile</td>
            </tr>
            <% for ( let i =0; i < parcel.length;i++){%>
                <tr>
                    <td>
                        <%= (i+1) %>
                    </td>
                    <td>
                        <%= parcel[i]._id %>
                    </td>
                    <td>
                        <%= parcel[i].sender %>
                    </td>
                    <td>
                        <%= parcel[i].address%>
                    </td>
                    <td>
                        <%= parcel[i].weight %>
                    </td>
                    <td>
                        <%= parcel[i].fragile %>
                    </td>
                <% }%>
            </tr>
     </table>
</body>

</html>