<html>
    <head>
        <div class = "jumbotron text-center">
            <link rel="stylesheet" href = "styles.css"/>
            <link rel = "stylesheet" href = "./css/bootstrap.min.css"/>
            <h1> Parcel Management System! </h1>
            <br>
                <a type = "button" class = "btn btn-primary btn-lg" href = "/">Home</a> 
                <a type = "button" class = "btn btn-primary btn-lg" href = "/addparcel">Add New Parcel </a>
                <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcels"> List Parcels </a>
                <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcelssender"> List Parcels Sender</a>
                <a type = "button" class = "btn btn-primary btn-lg" href = "/getparcelsweight"> List Parcels Weight</a>
                <a type = "button" class = "btn btn-primary btn-lg" href = "/delparcel"> Delete Parcels </a>
                <a type = "button" class = "btn btn-primary btn-lg" href = "/updateparcel"> Update Parcels </a>
                
                <hr/>
            <style>
                table,th,td {
                    border: 1px solid black;
                }
            </style>
            </div>
    </head>

    <body>
    <h3> Update your Parcel by ID number! </h3>
    <form action="/updateparcelpost" method="POST">
        <table>
        ID No:
        <input type="text" name="id" /> </br>
        Sender:
        <input type="text" name="sender" /> </br>
        Address:
        <input type="text" name="address" /> </br>
        Weight:
        <input type="number" name="weight" /> </br>
        Fragile:
        <input type="text" name="fragile" /> </br>
        

        <button type="button" class="btn btn-outline-primary btn-sm">Submit</button>
    </table>
    </form>
</body>
</html>